.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; // чтобы не мешать кликам
  z-index: 1000;        // поверх контента
  overflow: hidden;     // обрезаем лишнее
}

.petal {
  position: absolute;
  top: 0;
  will-change: transform;
}