@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px); // учитываем высоту header
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 16px;
  }
}
.pageIndicator {
  min-width: 80px;
  text-align: center;
  font-family: 'Podkova', serif;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px; // наследуется от glass-card, но можно уточнить
}
